.social_share_privacy_area {
	clear: both;
	margin: 5px 0;
	list-style-type: none;
	padding: 0;
	width: auto;
	display: block;
}
.social_share_privacy_area.line {
	height: 25px;
}
.social_share_privacy_area.box {
	width: 95px;
}
.social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
}
.social_share_privacy_area.box li {
	text-align: center;
}
.social_share_privacy_area.line li {
	height: 21px;
	float: left;
}
.social_share_privacy_area li .dummy_btn {
    margin: 0;
    cursor: pointer;
    padding: 0;
    height: inherit;
}
.social_share_privacy_area.line li .dummy_btn {
    float: left;
    margin: 0 0 0 10px;
}
.social_share_privacy_area.box li .dummy_btn {
	margin-bottom: 10px;
}
.social_share_privacy_area li div iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
}
/* Facebook begin */
.social_share_privacy_area.line li {
    display: inline-block;
}
.social_share_privacy_area.line .facebook .fb_like {
	margin-right: 20px;
	width: 120px;
}
.social_share_privacy_area .pinterest iframe,
.social_share_privacy_area .reddit iframe,
.social_share_privacy_area .stumbleupon iframe,
.social_share_privacy_area .buffer iframe,
.social_share_privacy_area .twitter iframe,
.social_share_privacy_area .facebook iframe {
	overflow: hidden;
	border: none;
}
.social_share_privacy_area.line .facebook iframe {
	width: 120px;
	height: 20px;
}
.social_share_privacy_area.box .facebook iframe {
	width: 62px;
	height: 61px;
}
.social_share_privacy_area.line .pinterest iframe {
	width: 100px;
	height: 20px;
}
.social_share_privacy_area.box .pinterest iframe {
	width: 43px;
	height: 58px;
}
.social_share_privacy_area.line .reddit iframe {
	width: 120px;
	height: 18px;
}
.social_share_privacy_area.box .reddit iframe {
	width: 58px;
	height: 66px;
}
.social_share_privacy_area.line .stumbleupon iframe,
.social_share_privacy_area.line .stumbleupon img {
	width: 74px;
	height: 18px;
}
.social_share_privacy_area.box .stumbleupon iframe,
.social_share_privacy_area.box .stumbleupon img {
	width: 50px;
	height: 60px;
}
.social_share_privacy_area.line .buffer iframe {
	width: 110px;
	height: 20px;
}
.social_share_privacy_area.line .buffer img {
	width: 55px;
	height: 20px;
	margin-right: 75px;
}
.social_share_privacy_area.box .buffer iframe,
.social_share_privacy_area.box .buffer img {
	width: 55px;
	height: 62px;
}
.social_share_privacy_area.line .linkedin img.linkedin_privacy_dummy {
	width: 55px;
	height: 20px;
}
.social_share_privacy_area.box .linkedin img.linkedin_privacy_dummy {
	width: 61px;
	height: 62px;
}
.social_share_privacy_area.line .xing img.xing_privacy_dummy {
	width: 55px;
	height: 20px;
	margin-right: 66px;
}
.social_share_privacy_area.box .xing img.xing_privacy_dummy {
	width: 55px;
	height: 62px;
}
.social_share_privacy_area.box .xing .dummy_btn div {
	margin: auto;
}
.social_share_privacy_area.line .twitter iframe {
	width: 120px;
	height: 20px;
}
.social_share_privacy_area.box .twitter iframe {
	width: 62px;
	height: 62px;
}
.social_share_privacy_area.box .flattr a {
	display: block;
	visibility: hidden;
	margin: auto;
}
.social_share_privacy_area.line .flattr img {
	width: 72px;
	height: 20px;
	margin-right: 98px;
}
.social_share_privacy_area.line .flattr a,
.social_share_privacy_area.line .flattr iframe {
	width: 150px;
	height: 20px;
	margin-right: 20px;
}
.social_share_privacy_area.line .flattr a {
	display: inline-block;
}
.social_share_privacy_area.box .flattr a,
.social_share_privacy_area.box .flattr img,
.social_share_privacy_area.box .flattr iframe {
	width: 62px;
	height: 62px;
}

.social_share_privacy_area.line .disqus img.privacy_dummy {
	width: 49px;
	height: 20px;
	margin-right: 45px;
}
.social_share_privacy_area.box .disqus img.privacy_dummy {
	width: 55px;
	height: 61px;
}
.social_share_privacy_area .disqus .disqus-widget {
	line-height: 20px;
	font-size: 11px;
	font-family: sans-serif;
	cursor: text;
}
.social_share_privacy_area .disqus .disqus-widget a.name {
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #5E8BA9;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	background-image: -moz-linear-gradient(top,#fff,#dedede);
	background-image: -o-linear-gradient(top,#fff,#dedede);
	background-image: -ms-linear-gradient(top,#fff,#dedede);
	background-image: linear-gradient(top,#fff,#dedede);
}
.social_share_privacy_area .disqus .disqus-widget a.name .us {
	color: #b84;
}
.social_share_privacy_area.line .disqus .disqus-widget .count,
.social_share_privacy_area.line .disqus .disqus-widget a.name {
	display: inline-block;
	padding: 0px 4px;
}
.social_share_privacy_area.box .disqus .disqus-widget {
	display: block;
	width: 55px;
	height: 61px;
	margin: auto;
}
.social_share_privacy_area.box .disqus .disqus-widget .count,
.social_share_privacy_area.box .disqus .disqus-widget a.name {
	display: block;
	width: 53px;
	text-align: center;
}
.social_share_privacy_area .disqus .disqus-widget a.name:hover {
	border-color: #bbb;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d9d9d9));
	background-image: -moz-linear-gradient(top,#f8f8f8,#d9d9d9);
	background-image: -o-linear-gradient(top,#f8f8f8,#d9d9d9);
	background-image: -ms-linear-gradient(top,#f8f8f8,#d9d9d9);
	background-image: linear-gradient(top,#f8f8f8,#d9d9d9);
}
.social_share_privacy_area .disqus .disqus-widget a.name:active {
	background-color: #efefef;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
}
.social_share_privacy_area .disqus .disqus-widget .count {
	position: relative;
	height: 18px;
	border: 1px solid #bbb;
	background: white;
	border-radius: 3px;
	text-align: center;
}
.social_share_privacy_area.line .disqus .disqus-widget .count {
	margin-left: 4px;
	min-width: 1em;
}
.social_share_privacy_area.box .disqus .disqus-widget .count {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	margin-bottom: 5px;
}
.social_share_privacy_area.line .disqus .disqus-widget .count u,
.social_share_privacy_area.line .disqus .disqus-widget .count i {
	position: absolute;
	zoom: 1;
	line-height: 0;
	width: 0;
	height: 0;
	left: 0;
	top: 50%;
	margin: -4px 0 0 -4px;
	border: 4px transparent solid;
	border-right-color: #aaa;
	border-left: 0;
}
.social_share_privacy_area.line .disqus .disqus-widget .count u {
	margin-left: -3px;
	border-right-color: #fff;
}
.social_share_privacy_area.box .disqus .disqus-widget .count u,
.social_share_privacy_area.box .disqus .disqus-widget .count i {
	position: absolute;
	zoom: 1;
	line-height: 0;
	top: auto;
	left: 50%;
	bottom: 0;
	right: auto;
	margin: 0 0 -4px -4px;
	border: 4px transparent solid;
	border-top-color: #aaa;
	border-bottom: 0;
	width: 0;
	height: 0;
}
.social_share_privacy_area.box .disqus .disqus-widget .count u {
	margin-bottom: -3px;
	border-top-color: #fff;
}
.social_share_privacy_area .disqus .disqus-widget .count a {
	color: #333;
	text-decoration: none;
}
.social_share_privacy_area .disqus .disqus-widget .count a:hover {
	text-decoration: underline;
}

.social_share_privacy_area .tumblr a {
	text-indent: -9999em;
	overflow: hidden;
}
.social_share_privacy_area.line .tumblr a {
	display: inline-block;
	width: 81px;
	height: 20px;
	margin-right: 20px;
	background: url(images/tumblr.png) top left no-repeat transparent;
}
.social_share_privacy_area.box .tumblr a {
	display: block;
	margin: auto;
	width: 58px;
	height: 58px;
	background: url(images/tumblr_box.png) top left no-repeat transparent;
}
.social_share_privacy_area .mail a {
	text-indent: -9999em;
	overflow: hidden;
}
.social_share_privacy_area.line .mail a {
	display: inline-block;
	width: 43px;
	height: 20px;
	margin-right: 20px;
	background: url(images/mail.png) top left no-repeat transparent;
}
.social_share_privacy_area.box .mail a {
	display: block;
	margin: auto;
	width: 58px;
	height: 39px;
	background: url(images/mail_box.png) top left no-repeat transparent;
}
.social_share_privacy_area.line .reddit img,
.social_share_privacy_area.line .reddit iframe,
.social_share_privacy_area.line .stumbleupon img,
.social_share_privacy_area.line .stumbleupon iframe,
.social_share_privacy_area.line .buffer iframe,
.social_share_privacy_area.line .disqus .disqus-widget {
	margin-right: 20px;
}
.social_share_privacy_area.line li div.tweet {
	width: 115px;
}
.social_share_privacy_area.line li div.pinit {
	width: 100px;
}
/* Google+ begin */
.social_share_privacy_area.line .gplus {
	width: 123px;
}
.social_share_privacy_area.line li div.gplusone {
	width: 90px;
}
/* Google+ end */
/* Switch begin */
.social_share_privacy_area li .switch {
    display: inline-block;
    text-indent: -9999em;
    background: transparent url(images/socialshareprivacy_on_off.png) no-repeat 0 0 scroll;
    width: 23px;
    height: 12px;
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
}
.social_share_privacy_area.line li .switch {
    float: left;
}
.social_share_privacy_area li .switch.on {
    background-position: 0 -12px; 
}
/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
    position: relative; 
}
.social_share_privacy_area li.settings_info,
.social_share_privacy_area li.help_info .info {
	text-align: left;
}
.social_share_privacy_area li.help_info .info, 
.social_share_privacy_area li .help_info.icon .info {
    display: none;
    position: absolute;
    bottom: 40px;
    width: 290px;
    padding: 10px 15px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    background-color: #fdfbec;
    color: #000;
    z-index: 500;
}
.social_share_privacy_area.line li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
    left: 0;
}
.social_share_privacy_area.box li.help_info .info {
	left: 100%;
	top: 0px;
	bottom: auto;
}
.social_share_privacy_area li .help_info.icon .info {
    width: 350px;
}
.social_share_privacy_area li.help_info.display .info, 
.social_share_privacy_area li .help_info.icon.display .info {
    display: block;
}
.social_share_privacy_area li.help_info.info_off.display .info {
    display: none;
}
.social_share_privacy_area li .help_info.icon {
    background: #fff url(images/socialshareprivacy_info.png) no-repeat center center scroll;
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-block;
	vertical-align: top;
	border: 2px solid #e7e3e3;
	border-right-width: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
	border-right-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Tooltips end */
/* Settings/Info begin */
.social_share_privacy_area li.settings_info {
	position: relative;
	top: -2px;
}
.social_share_privacy_area li.settings_info a {
	text-decoration: none;
	margin: 0 !important;
}
.social_share_privacy_area li.settings_info .settings_info_menu {
    background-color: #f3f4f5;
    color: #000;
	border-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    left: 0;
    position: absolute;
    top: 0;
    width: 135px;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.on {
	z-index: 1000;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off {
	border-width: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off form {
	display: none;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu .settings {
	text-indent: -9999em;
	display: inline-block;
	background: #fff url(images/settings.png) no-repeat center center scroll;
	width: 25px;
	height: 20px;
	border: 2px solid #e7e3e3;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
    border-width: 0;
    margin: 0;
    padding: 0 10px 10px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 10px 0;
	width: 115px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
    margin: 4px 10px 4px 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
	-moz-transition: color .5s ease-in;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
	color: #090;
}
/* Settings/Info end */
